# README - RedAmber

This notebook walks through [README of RedAmber](https://github.com/heronshoes/red_amber/blob/master/README.md).

In [1]:
require 'red_amber' # require 'red-amber' is also OK.
{RedAmber: RedAmber::VERSION, Arrow: Arrow::VERSION}

{:RedAmber=>"0.2.1", :Arrow=>"9.0.0"}

## `RedAmber::DataFrame`

It represents a set of data in 2D-shape. The entity is a Red Arrow's Table object. 

![dataframe model of RedAmber](https://github.com/heronshoes/red_amber/raw/master/doc/image/dataframe_model.png)

Download Penguins dataset from Red Data Tools and create DataFrame.

In [2]:
require 'datasets-arrow'

arrow = Datasets::Penguins.new.to_arrow
penguins = RedAmber::DataFrame.new(arrow)

#<RedAmber::DataFrame : 344 x 8 Vectors, 0x000000000000f0dc>
    species  island    bill_length_mm bill_depth_mm flipper_length_mm ...     year
    <string> <string>        <double>      <double>           <uint8> ... <uint16>
  1 Adelie   Torgersen           39.1          18.7               181 ...     2007
  2 Adelie   Torgersen           39.5          17.4               186 ...     2007
  3 Adelie   Torgersen           40.3          18.0               195 ...     2007
  4 Adelie   Torgersen          (nil)         (nil)             (nil) ...     2007
  5 Adelie   Torgersen           36.7          19.3               193 ...     2007
  : :        :                      :             :                 : ...        :
342 Gentoo   Biscoe              50.4          15.7               222 ...     2009
343 Gentoo   Biscoe              45.2          14.8               212 ...     2009
344 Gentoo   Biscoe              49.9          16.1               213 ...     2009

For example, `DataFrame#pick` accepts keys as arguments and returns a sub DataFrame.

![pick method image](https://github.com/heronshoes/red_amber/raw/master/doc/image/dataframe/pick.png)

In [3]:
penguins.keys

[:species, :island, :bill_length_mm, :bill_depth_mm, :flipper_length_mm, :body_mass_g, :sex, :year]

In [4]:
df1 = penguins.pick(:species, :island, :body_mass_g)

#<RedAmber::DataFrame : 344 x 3 Vectors, 0x000000000000f0f0>
    species  island    body_mass_g
    <string> <string>     <uint16>
  1 Adelie   Torgersen        3750
  2 Adelie   Torgersen        3800
  3 Adelie   Torgersen        3250
  4 Adelie   Torgersen       (nil)
  5 Adelie   Torgersen        3450
  : :        :                   :
342 Gentoo   Biscoe           5750
343 Gentoo   Biscoe           5200
344 Gentoo   Biscoe           5400

`DataFrame#drop` drops some columns to create a remainer DataFrame.

![drop method image](https://github.com/heronshoes/red_amber/raw/master/doc/image/dataframe/drop.png)

You can specify by keys or a boolean array of same size as n_keys.

In [5]:
# Same as df.drop(:species, :island)
df2 = df1.drop(true, true, false)

#<RedAmber::DataFrame : 344 x 1 Vector, 0x000000000000f104>
    body_mass_g
       <uint16>
  1        3750
  2        3800
  3        3250
  4       (nil)
  5        3450
  :           :
342        5750
343        5200
344        5400

Arrow data is immutable, so these methods always return an new object.

`DataFrame#assign` creates new columns or update existing columns.

![assign method image](https://github.com/heronshoes/red_amber/raw/master/doc/image/dataframe/assign.png)

New column is created because `:body_mass_kg` is a new key.

In [7]:
df2.assign(:body_mass_kg => df2[:body_mass_g] / 1000.0)

#<RedAmber::DataFrame : 344 x 2 Vectors, 0x000000000000f118>
    body_mass_g body_mass_kg
       <uint16>     <double>
  1        3750         3.75
  2        3800          3.8
  3        3250         3.25
  4       (nil)        (nil)
  5        3450         3.45
  :           :            :
342        5750         5.75
343        5200          5.2
344        5400          5.4

`DataFrame#slice` selects rows (observations) to create a sub DataFrame.

![slice method image](https://raw.githubusercontent.com/heronshoes/red_amber/master/doc/image/dataframe/slice.png)

Returns 5 rows at the start and 5 rows from the end.

In [8]:
penguins.slice(0...5, -5..-1)

#<RedAmber::DataFrame : 10 x 8 Vectors, 0x000000000000f12c>
   species  island    bill_length_mm bill_depth_mm flipper_length_mm ...     year
   <string> <string>        <double>      <double>           <uint8> ... <uint16>
 1 Adelie   Torgersen           39.1          18.7               181 ...     2007
 2 Adelie   Torgersen           39.5          17.4               186 ...     2007
 3 Adelie   Torgersen           40.3          18.0               195 ...     2007
 4 Adelie   Torgersen          (nil)         (nil)             (nil) ...     2007
 5 Adelie   Torgersen           36.7          19.3               193 ...     2007
 : :        :                      :             :                 : ...        :
 8 Gentoo   Biscoe              50.4          15.7               222 ...     2009
 9 Gentoo   Biscoe              45.2          14.8               212 ...     2009
10 Gentoo   Biscoe              49.9          16.1               213 ...     2009

`DataFrame#remove` rejects rows (observations) to create a remainer DataFrame.

![remove method image](https://github.com/heronshoes/red_amber/raw/master/doc/image/dataframe/remove.png)

DataFrame manipulating methods like `pick`, `drop`, `slice`, `remove`, `rename` and `assign` accept a block.

Previous example is also OK with a block.

In [9]:
penguins.remove { bill_length_mm < 40 }

#<RedAmber::DataFrame : 244 x 8 Vectors, 0x000000000000f140>
    species  island    bill_length_mm bill_depth_mm flipper_length_mm ...     year
    <string> <string>        <double>      <double>           <uint8> ... <uint16>
  1 Adelie   Torgersen           40.3          18.0               195 ...     2007
  2 Adelie   Torgersen          (nil)         (nil)             (nil) ...     2007
  3 Adelie   Torgersen           42.0          20.2               190 ...     2007
  4 Adelie   Torgersen           41.1          17.6               182 ...     2007
  5 Adelie   Torgersen           42.5          20.7               197 ...     2007
  : :        :                      :             :                 : ...        :
242 Gentoo   Biscoe              50.4          15.7               222 ...     2009
243 Gentoo   Biscoe              45.2          14.8               212 ...     2009
244 Gentoo   Biscoe              49.9          16.1               213 ...     2009

Next example is an usage of block to update a column.

In [10]:
df3 = RedAmber::DataFrame.new(
  integer: [0, 1, 2, 3, nil],
  float:   [0.0, 1.1,  2.2, Float::NAN, nil],
  string:  ['A', 'B', 'C', 'D', nil],
  boolean: [true, false, true, false, nil])

#<RedAmber::DataFrame : 5 x 4 Vectors, 0x000000000000f154>
  integer    float string   boolean
  <uint8> <double> <string> <boolean>
1       0      0.0 A        true
2       1      1.1 B        false
3       2      2.2 C        true
4       3      NaN D        false
5   (nil)    (nil) (nil)    (nil)

In [11]:
df3.assign do
  vectors.select(&:float?).map { |v| [v.key, -v] }
  # => returns [[:float], [-0.0, -1.1, -2.2, NAN, nil]]
end

#<RedAmber::DataFrame : 5 x 4 Vectors, 0x000000000000f168>
  integer    float string   boolean
  <uint8> <double> <string> <boolean>
1       0     -0.0 A        true
2       1     -1.1 B        false
3       2     -2.2 C        true
4       3      NaN D        false
5   (nil)    (nil) (nil)    (nil)

Next example is to eliminate rows containing nil.

Remove all observations containing nil

In [12]:
df3.remove { vectors.map(&:is_nil).reduce(&:|) }

#<RedAmber::DataFrame : 4 x 4 Vectors, 0x000000000000f17c>
  integer    float string   boolean
  <uint8> <double> <string> <boolean>
1       0      0.0 A        true
2       1      1.1 B        false
3       2      2.2 C        true
4       3      NaN D        false

For this frequently needed task, we can do it much simpler.

In [13]:
df3.remove_nil # => same result as above

#<RedAmber::DataFrame : 4 x 4 Vectors, 0x000000000000f190>
  integer    float string   boolean
  <uint8> <double> <string> <boolean>
1       0      0.0 A        true
2       1      1.1 B        false
3       2      2.2 C        true
4       3      NaN D        false

`DataFrame#summary` shows summary statistics in a DataFrame.

In [14]:
penguins.summary

#<RedAmber::DataFrame : 5 x 9 Vectors, 0x000000000000f1a4>
  variables            count     mean      std      min      25%   median ...      max
  <dictionary>      <uint16> <double> <double> <double> <double> <double> ... <double>
1 bill_length_mm         342    43.92     5.46     32.1    39.23    44.38 ...     59.6
2 bill_depth_mm          342    17.15     1.97     13.1     15.6    17.32 ...     21.5
3 flipper_length_mm      342   200.92    14.06    172.0    190.0    197.0 ...    231.0
4 body_mass_g            342  4201.75   801.95   2700.0   3550.0   4031.5 ...   6300.0
5 year                   344  2008.03     0.82   2007.0   2007.0   2008.0 ...   2009.0

In [15]:
puts penguins.summary.to_s(width: 82)

  variables            count     mean      std      min      25%   median      75%      max
  <dictionary>      <uint16> <double> <double> <double> <double> <double> <double> <double>
1 bill_length_mm         342    43.92     5.46     32.1    39.23    44.38     48.5     59.6
2 bill_depth_mm          342    17.15     1.97     13.1     15.6    17.32     18.7     21.5
3 flipper_length_mm      342   200.92    14.06    172.0    190.0    197.0    213.0    231.0
4 body_mass_g            342  4201.75   801.95   2700.0   3550.0   4031.5   4750.0   6300.0
5 year                   344  2008.03     0.82   2007.0   2007.0   2008.0   2009.0   2009.0

`DataFrame#group` method can be used for the grouping tasks.

In [16]:
starwars = RedAmber::DataFrame.load(URI("https://vincentarelbundock.github.io/Rdatasets/csv/dplyr/starwars.csv"))

#<RedAmber::DataFrame : 87 x 12 Vectors, 0x000000000000f1b8>
   unnamed1 name            height     mass hair_color skin_color  eye_color ... species
    <int64> <string>       <int64> <double> <string>   <string>    <string>  ... <string>
 1        1 Luke Skywalker     172     77.0 blond      fair        blue      ... Human
 2        2 C-3PO              167     75.0 NA         gold        yellow    ... Droid
 3        3 R2-D2               96     32.0 NA         white, blue red       ... Droid
 4        4 Darth Vader        202    136.0 none       white       yellow    ... Human
 5        5 Leia Organa        150     49.0 brown      light       brown     ... Human
 :        : :                    :        : :          :           :         ... :
85       85 BB8              (nil)    (nil) none       none        black     ... Droid
86       86 Captain Phasma   (nil)    (nil) unknown    unknown     unknown   ... NA
87       87 Padmé Amidala      165     45.0 brown      light       brown     ... Human

In [17]:
starwars.group(:species) { [count(:species), mean(:height, :mass)] }
        .slice { count > 1 }

#<RedAmber::DataFrame : 9 x 4 Vectors, 0x000000000000f1cc>
  species    count mean(height) mean(mass)
  <string> <int64>     <double>   <double>
1 Human         35       176.65      82.78
2 Droid          6        131.2      69.75
3 Wookiee        2        231.0      124.0
4 Gungan         3       208.67       74.0
5 NA             4       181.33       48.0
6 Zabrak         2        173.0       80.0
7 Twi'lek        2        179.0       55.0
8 Mirialan       2        168.0       53.1
9 Kaminoan       2        221.0       88.0

## `RedAmber::Vector`

Class `RedAmber::Vector` represents a series of data in the DataFrame.
Method `RedAmber::DataFrame#[key]` returns a Vector with the key `key`.

In [51]:
penguins[:bill_length_mm]

#<RedAmber::Vector(:double, size=344):0x000000000000f320>
[39.1, 39.5, 40.3, nil, 36.7, 39.3, 38.9, 39.2, 34.1, 42.0, 37.8, 37.8, 41.1, ... ]

Vectors accepts some [functional methods from Arrow](https://arrow.apache.org/docs/cpp/compute.html).

This is an element-wise comparison and returns a boolean Vector of same size.

![unary element-wise](https://github.com/heronshoes/red_amber/raw/master/doc/image/vector/unary_element_wise.png)

In [52]:
penguins[:bill_length_mm] < 40

#<RedAmber::Vector(:boolean, size=344):0x000000000000f334>
[true, true, false, nil, true, true, true, true, true, false, true, true, false, ... ]

Next example returns aggregated result.

![unary aggregation](https://github.com/heronshoes/red_amber/raw/master/doc/image/vector/unary_aggregation.png)

In [53]:
penguins[:bill_length_mm].mean

43.92192982456141

## Another Jupyter notebook

[Examples of Red Amber](examples_of_red_amber.ipynb) shows more examples in jupyter notebook.